<!DOCTYPE html>
<html>

<head>
  <title>Preguntas frecuentes</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      background-color: #d31d1d;
    }
    .negrita {
      font-weight: bold;
      font-size: 20px;
    }
    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
    }
    .content-wrapper {
      background-image: url('/img/sis.png');
      background-size:center;
      background-repeat: no-repeat;
        background-position: center 80px; /* Ajusta el valor vertical (20px) según tu preferencia */

      padding: 20px;
      border-radius: 8px;
      margin-bottom: 20px;
      text-align: justify;
      color: #000000;
      position: relative;
    }
    .paragraph-overlay {
      background: rgba(208, 208, 208, 0.5); /* Sombreado gris semi transparente */
      padding: 10px;
      border-radius: 5px;
    }
    h1 {
      text-align: center;
      color: #0ba6bb;
    }
    .logo {
      text-align: center;
      margin: 20px auto;
      font-size: 24px;
      font-weight: bold;
    }
    .logo span.sd {
      color: #000000;
    }
    .logo span.lg {
      color: #ff0000;
    }
    p {
      line-height: 1.5;
    }
    .login {
      font-style: italic;
      text-align: center;
      margin-top: 20px;
    }
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="content-wrapper">
      <h1>Bienvenidos a Nuestra Página graficadora para el sistema de monitoreo de arroyos y rios</h1>
      <div class="negrita paragraph-overlay">La página de visualización de datos de sensores ofrece una representación gráfica de información clave recopilada por nuestros sensores en cuerpos de agua. Los datos se presentan en forma de gráficos generados a partir de archivos de Excel para proporcionar una representación visual clara de los niveles de pH, el nivel del agua y el índice de pureza en un formato fácil de entender. Aunque no se actualiza en tiempo real, esta plataforma permite a los usuarios acceder a información histórica y analizar tendencias a lo largo del tiempo, lo que puede ser valioso para la toma de decisiones informadas y la gestión de recursos acuáticos.</div>

      
    </div>
  </div>
</body>

</html>
